In [ ]:
pip install pyarrow

In [ ]:
pip install fastparquet

In [1]:
import pandas as pd

In [2]:
df = pd.read_parquet('SINAN_CHAGSP18_.parquet')

In [3]:
df.head()

,TP_NOT,ID_AGRAVO,DT_NOTIFIC,SEM_NOT,NU_ANO,SG_UF_NOT,ID_MUNICIP,ID_REGIONA,ID_UNIDADE,DT_SIN_PRI,...,DT_OBITO,CON_PROVAV,CON_OUTRA,CON_LOCAL,TPAUTOCTO,COUFINF,COPAISINF,COMUNINF,DOENCA_TRA,DT_ENCERRA
0,2,B571,2018-08-20,201834,2018,35,351570,1333,2773694,2018-07-30,...,None,,,,,,0,,,2019-01-15
1,2,B571,2018-04-20,201816,2018,35,353760,1349,7036892,2018-04-20,...,None,,,,,,0,,,2018-06-20
2,2,B571,2018-06-14,201824,2018,35,350635,1349,7786913,2018-05-31,...,None,,,,,,0,,,2018-07-19
3,2,B571,2018-12-06,201849,2018,35,354100,1349,3551911,2018-06-01,...,None,,,,,,0,,,2019-01-23
4,2,B571,2018-12-19,201851,2018,35,351720,1340,2790475,2018-11-28,...,None,,,,,,0,,,2019-01-10

In [4]:
for columns in df.columns:
    if columns.startswith("DT_"):
        df[columns] = df[columns].astype('datetime64[ns]')
    elif columns == 'NU_ANO':
        df[columns] = df[columns].astype(int)
    elif columns == 'RESUL_HIS':
        df[columns] = df[columns].astype(str)
    else:
        try:
            df[columns] = df[columns].astype(int)
        except:
            try:
                df[columns] = df[columns].astype(float)
            except:
                df[columns] = df[columns].astype(str)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 99 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   TP_NOT      19 non-null     int64
 1   ID_AGRAVO   19 non-null     object
 2   DT_NOTIFIC  19 non-null     datetime64[ns]
 3   SEM_NOT     19 non-null     int64
 4   NU_ANO      19 non-null     int64
 5   SG_UF_NOT   19 non-null     int64
 6   ID_MUNICIP  19 non-null     int64
 7   ID_REGIONA  19 non-null     int64
 8   ID_UNIDADE  19 non-null     int64
 9   DT_SIN_PRI  19 non-null     datetime64[ns]
 10  SEM_PRI     19 non-null     int64
 11  DT_NASC     19 non-null     datetime64[ns]
 12  NU_IDADE_N  19 non-null     int64
 13  CS_SEXO     19 non-null     object
 14  CS_GESTANT  19 non-null     int64
 15  CS_RACA     19 non-null     object
 16  CS_ESCOL_N  19 non-null     object
 17  SG_UF       19 non-null     int64
 18  ID_MN_RESI  19 non-null     int64
 19  ID_RG_RESI  19 non-null     int64
 20  ID_PAIS     19 non-null     int64
 21  NDUPLIC_N   19 non-null     object
 22  DT_INVEST   13 non-null     datetime64[ns]
 23  ID_OCUPA_N  19 non-null     object
 24  ANT_UF_1    19 non-null     object
 25  MUN_1       19 non-null     object
 26  ANT_UF_2    19 non-null     object
 27  MUN_2       19 non-null     object
 28  ANT_UF_3    19 non-null     object
 29  MUN_3       19 non-null     object
 30  PRESENCA    19 non-null     object
 31  PARASITO    0 non-null      float64
 32  HISTORIA    19 non-null     object
 33  CONTROLE    19 non-null     object
 34  MANIPULA    19 non-null     object
 35  MAECHAGA    19 non-null     object
 36  ORAL        19 non-null     object
 37  ASSINTOMA   19 non-null     object
 38  EDEMA       19 non-null     object
 39  MENINGOE    19 non-null     object
 40  POLIADENO   19 non-null     object
 41  FEBRE       19 non-null     object
 42  HEPATOME    19 non-null     object
 43  SINAIS_ICC  19 non-null     object
 44  ARRITMIAS   19 non-null     object
 45  ASTENIA     19 non-null     object
 46  ESPLENOM    19 non-null     object
 47  CHAGOMA     19 non-null     object
 48  OUTRO_SIN   19 non-null     object
 49  OUTRO_ESP   19 non-null     object
 50  DT_COL_DIR  4 non-null      datetime64[ns]
 51  EXAME       19 non-null     object
 52  MICRO_HEMA  19 non-null     object
 53  OUTRO       19 non-null     object
 54  DT_COL_IND  1 non-null      datetime64[ns]
 55  XENODIAG    19 non-null     object
 56  HEMOCULT    19 non-null     object
 57  DT_COL_S1   7 non-null      datetime64[ns]
 58  DT_COL_S2   0 non-null      datetime64[ns]
 59  ELI_IGM_S1  19 non-null     object
 60  ELI_IGG_S1  19 non-null     int64
 61  ELI_IGM_S2  19 non-null     object
 62  ELI_IGG_S2  19 non-null     int64
 63  HEM_IGM_S1  19 non-null     object
 64  HEM_IGG_S1  19 non-null     int64
 65  HEM_IGM_S2  19 non-null     object
 66  HEM_IGG_S2  19 non-null     int64
 67  IMU_IGM_S1  19 non-null     object
 68  TIT_IGM_S1  19 non-null     object
 69  IMU_IGM_S2  19 non-null     object
 70  TIT_IGM_S2  19 non-null     object
 71  IMU_IGG_S1  19 non-null     int64
 72  TIT_IGG_S1  19 non-null     int64
 73  IMU_IGG_S2  19 non-null     int64
 74  TIT_IGG_S2  19 non-null     int64
 75  RESUL_HIS   19 non-null     object
 76  RES_HIST    19 non-null     object
 77  ESPECIFICO  19 non-null     object
 78  SINTOMATIC  19 non-null     object
 79  DROGA       19 non-null     object
 80  TEMPO       1 non-null      float64
 81  CON_TRIAT   19 non-null     object
 82  BIOSSEG     19 non-null     object
 83  FISCALIZA   19 non-null     object
 84  MED_OUTRO   19 non-null     object
 85  OUTRO_DES   19 non-null     object
 86  CLASSI_FIN  19 non-null     int64
 87  CRITERIO    19 non-null     object
 88  EVOLUCAO    19 non-null     object
 89  DT_OBITO    0 non-null      datetime64[ns]
 90  CON_PROVAV  19 non-null     object
 91  CON_OUTRA   19 non-null     object
 92  CON_LOCAL   19 non-null     object
 93  TPAUTOCTO   19 non-null     object
 94  COUFINF     19 non-null     object
 95  COPAISINF   19 non-null     int64
 96  COMUNINF    19 non-null     object
 97  DOENCA_TRA  19 non-null     object
 98  DT_ENCERRA  19 non-null     datetime64[ns]
dtypes: datetime64[ns](10), float64(2), int64(24), object(63)
memory usage: 14.8+ KB

In [6]:
df

,TP_NOT,ID_AGRAVO,DT_NOTIFIC,SEM_NOT,NU_ANO,SG_UF_NOT,ID_MUNICIP,ID_REGIONA,ID_UNIDADE,DT_SIN_PRI,...,DT_OBITO,CON_PROVAV,CON_OUTRA,CON_LOCAL,TPAUTOCTO,COUFINF,COPAISINF,COMUNINF,DOENCA_TRA,DT_ENCERRA
0,2,B571,2018-08-20,201834,2018,35,351570,1333,2773694,2018-07-30,...,NaT,,,,,,0,,,2019-01-15
1,2,B571,2018-04-20,201816,2018,35,353760,1349,7036892,2018-04-20,...,NaT,,,,,,0,,,2018-06-20
2,2,B571,2018-06-14,201824,2018,35,350635,1349,7786913,2018-05-31,...,NaT,,,,,,0,,,2018-07-19
3,2,B571,2018-12-06,201849,2018,35,354100,1349,3551911,2018-06-01,...,NaT,,,,,,0,,,2019-01-23
4,2,B571,2018-12-19,201851,2018,35,351720,1340,2790475,2018-11-28,...,NaT,,,,,,0,,,2019-01-10
5,2,B571,2018-04-20,201816,2018,35,354160,1340,7580371,2018-04-19,...,NaT,,,,,,0,,,2018-05-22
6,2,B571,2018-10-08,201841,2018,35,350280,1336,2043874,2018-08-22,...,NaT,,,,,,0,,,2018-11-01
7,2,B571,2018-09-10,201837,2018,35,350960,1342,2087219,2018-09-01,...,NaT,,,,,,0,,,2018-12-20
8,2,B571,2018-09-10,201837,2018,35,355030,1331,2077485,2018-09-05,...,NaT,,,,,,0,,,2018-11-05
9,2,B571,2018-09-10,201837,2018,35,350560,1348,2049813,2018-06-27,...,NaT,,,,,,0,,,2018-11-14
10,2,B571,2018-12-12,201850,2018,35,353440,1335,8117,2018-11-19,...,NaT,4,,9,3,,0,,2,2019-02-11
11,2,B571,2018-07-24,201830,2018,35,353760,1349,2087294,2018-07-24,...,NaT,,,,,,0,,,2018-09-26
12,2,B571,2018-01-09,201802,2018,35,352720,1352,2798247,2017-11-01,...,NaT,,,,,,0,,,2019-02-19
13,2,B571,2018-05-18,201820,2018,35,350280,1336,2032414,2018-05-18,...,NaT,,,,,,0,,9,2018-07-23
14,2,B571,2018-11-05,201845,2018,35,351870,1349,2043963,2018-11-05,...,NaT,,,,,,0,,,2019-01-09
15,2,B571,2018-10-16,201842,2018,35,353760,1349,5348889,2018-10-16,...,NaT,,,,,,0,,,2019-02-13
16,2,B571,2018-07-29,201831,2018,35,353760,1349,2087294,2018-07-24,...,NaT,,,,,,0,,,2018-11-07
17,2,B571,2018-09-04,201836,2018,35,353120,1342,2749610,2018-01-01,...,NaT,,,,,,0,,,2018-11-08
18,2,B571,2018-07-11,201828,2018,35,353760,1349,5348889,2018-07-11,...,NaT,,,,,,0,,,2018-11-07

In [7]:
df.iloc[:,:20]

,TP_NOT,ID_AGRAVO,DT_NOTIFIC,SEM_NOT,NU_ANO,SG_UF_NOT,ID_MUNICIP,ID_REGIONA,ID_UNIDADE,DT_SIN_PRI,SEM_PRI,DT_NASC,NU_IDADE_N,CS_SEXO,CS_GESTANT,CS_RACA,CS_ESCOL_N,SG_UF,ID_MN_RESI,ID_RG_RESI
0,2,B571,2018-08-20,201834,2018,35,351570,1333,2773694,2018-07-30,201831,1950-03-14,4068,M,6,3,09,35,351570,1333
1,2,B571,2018-04-20,201816,2018,35,353760,1349,7036892,2018-04-20,201816,1968-06-10,4049,F,5,1,05,35,353760,1349
2,2,B571,2018-06-14,201824,2018,35,350635,1349,7786913,2018-05-31,201822,1969-04-12,4049,M,6,2,,35,354850,1349
3,2,B571,2018-12-06,201849,2018,35,354100,1349,3551911,2018-06-01,201822,1972-06-22,4045,F,5,1,08,35,354100,1349
4,2,B571,2018-12-19,201851,2018,35,351720,1340,2790475,2018-11-28,201848,1958-11-08,4060,F,5,,,35,351720,1340
5,2,B571,2018-04-20,201816,2018,35,354160,1340,7580371,2018-04-19,201816,1982-12-18,4035,M,6,1,03,35,354160,1340
6,2,B571,2018-10-08,201841,2018,35,350280,1336,2043874,2018-08-22,201834,1992-10-10,4025,M,6,4,06,35,350280,1336
7,2,B571,2018-09-10,201837,2018,35,350960,1342,2087219,2018-09-01,201835,1947-03-23,4071,F,5,9,,35,350960,1342
8,2,B571,2018-09-10,201837,2018,35,355030,1331,2077485,2018-09-05,201836,2016-09-27,4001,M,6,2,10,35,355030,1331
9,2,B571,2018-09-10,201837,2018,35,350560,1348,2049813,2018-06-27,201826,1962-10-21,4055,M,6,9,09,35,350560,1348
10,2,B571,2018-12-12,201850,2018,35,353440,1335,8117,2018-11-19,201847,1953-03-19,4065,M,6,4,01,35,353440,1335
11,2,B571,2018-07-24,201830,2018,35,353760,1349,2087294,2018-07-24,201830,1934-05-30,4084,M,6,2,05,35,353760,1349
12,2,B571,2018-01-09,201802,2018,35,352720,1352,2798247,2017-11-01,201744,1951-04-12,4066,M,6,4,02,35,352720,1352
13,2,B571,2018-05-18,201820,2018,35,350280,1336,2032414,2018-05-18,201820,1970-07-31,4047,F,9,4,03,35,350280,1336
14,2,B571,2018-11-05,201845,2018,35,351870,1349,2043963,2018-11-05,201845,1959-06-18,4059,M,6,1,01,35,351870,1349
15,2,B571,2018-10-16,201842,2018,35,353760,1349,5348889,2018-10-16,201842,1943-12-23,4074,F,9,2,,35,353760,1349
16,2,B571,2018-07-29,201831,2018,35,353760,1349,2087294,2018-07-24,201830,1964-10-25,4053,F,6,4,02,35,353760,1349
17,2,B571,2018-09-04,201836,2018,35,353120,1342,2749610,2018-01-01,201801,1972-07-30,4045,F,5,4,03,35,353120,1342
18,2,B571,2018-07-11,201828,2018,35,353760,1349,5348889,2018-07-11,201828,1958-06-26,4060,F,9,2,02,35,353760,1349

In [8]:
df.iloc[:,20:40]

,ID_PAIS,NDUPLIC_N,DT_INVEST,ID_OCUPA_N,ANT_UF_1,MUN_1,ANT_UF_2,MUN_2,ANT_UF_3,MUN_3,PRESENCA,PARASITO,HISTORIA,CONTROLE,MANIPULA,MAECHAGA,ORAL,ASSINTOMA,EDEMA,MENINGOE
0,1,,2018-08-20,,,,,,,,9,NaN,1,9,2,3,9,1,,
1,1,,2018-04-20,512120,,,,,,,3,NaN,2,9,3,3,9,2,2,2
2,1,,2018-06-14,517330,,,,,,,2,NaN,2,2,3,,,,1,
3,1,,2018-12-06,521110,,,,,,,2,NaN,2,,3,3,1,1,,
4,1,,2018-12-19,,,,,,,,2,NaN,2,2,2,2,2,1,,
5,1,,2018-04-20,,,,,,,,2,NaN,2,2,2,2,1,2,2,2
6,1,,2018-10-08,,,,,,,,2,NaN,2,9,2,2,2,2,2,2
7,1,,2018-09-10,999992,,,,,,,9,NaN,2,,,,,2,2,2
8,1,,2018-09-10,,,,,,,,9,NaN,2,2,9,9,2,2,2,2
9,1,,2018-09-10,,,,,,,,9,NaN,9,9,9,9,9,9,9,9
10,1,,2018-12-12,511215,,,,,,,2,NaN,2,2,9,3,9,1,,
11,1,,NaT,,,,,,,,,NaN,,,,,,,,
12,1,,NaT,,,,,,,,,NaN,,,,,,,,
13,1,,2018-05-18,514210,,,,,,,9,NaN,9,9,9,9,9,1,,
14,1,,NaT,,,,,,,,,NaN,,,,,,,,
15,1,,NaT,,,,,,,,,NaN,,,,,,,,
16,1,,NaT,,,,,,,,,NaN,,,,,,,,
17,1,,2018-09-04,,,,,,,,9,NaN,9,9,9,9,9,9,9,9
18,1,,NaT,,,,,,,,,NaN,,,,,,,,

In [9]:
df.iloc[:,40:60]

,POLIADENO,FEBRE,HEPATOME,SINAIS_ICC,ARRITMIAS,ASTENIA,ESPLENOM,CHAGOMA,OUTRO_SIN,OUTRO_ESP,DT_COL_DIR,EXAME,MICRO_HEMA,OUTRO,DT_COL_IND,XENODIAG,HEMOCULT,DT_COL_S1,DT_COL_S2,ELI_IGM_S1
0,,,,,,,,,,,NaT,3,3,3,NaT,3,3,NaT,NaT,
1,2,2,1,2,2,2,2,2,,,NaT,,,,NaT,,,2018-04-23,NaT,2
2,,1,,1,1,,,,,,NaT,,,,NaT,,,2018-06-14,NaT,2
3,,,,,,,,,,,NaT,3,3,3,NaT,3,3,2018-12-06,NaT,4
4,,,,,,,,,,,NaT,,,,NaT,,,2018-12-19,NaT,4
5,2,2,2,1,2,2,2,2,,,2018-04-20,,,,NaT,,,NaT,NaT,
6,2,2,2,2,2,1,2,2,,,NaT,,,,NaT,,,2018-10-15,NaT,2
7,2,2,2,1,1,2,2,2,,,NaT,3,3,3,NaT,3,3,2018-09-12,NaT,
8,2,1,2,2,2,1,2,2,,,2018-09-10,2,2,2,NaT,3,3,NaT,NaT,4
9,9,9,9,9,9,9,9,9,,,NaT,,,,NaT,,,NaT,NaT,
10,,,,,,,,,,,2018-11-19,,,,2018-11-19,,,2018-11-19,NaT,
11,,,,,,,,,,,NaT,,,,NaT,,,NaT,NaT,
12,,,,,,,,,,,NaT,,,,NaT,,,NaT,NaT,
13,,,,,,,,,,,NaT,,,,NaT,,,NaT,NaT,
14,,,,,,,,,,,NaT,,,,NaT,,,NaT,NaT,
15,,,,,,,,,,,NaT,,,,NaT,,,NaT,NaT,
16,,,,,,,,,,,NaT,,,,NaT,,,NaT,NaT,
17,9,9,9,9,9,9,9,9,,,2018-09-04,,,,NaT,,,NaT,NaT,
18,,,,,,,,,,,NaT,,,,NaT,,,NaT,NaT,

In [10]:
df.iloc[:,60:80]

,ELI_IGG_S1,ELI_IGM_S2,ELI_IGG_S2,HEM_IGM_S1,HEM_IGG_S1,HEM_IGM_S2,HEM_IGG_S2,IMU_IGM_S1,TIT_IGM_S1,IMU_IGM_S2,TIT_IGM_S2,IMU_IGG_S1,TIT_IGG_S1,IMU_IGG_S2,TIT_IGG_S2,RESUL_HIS,RES_HIST,ESPECIFICO,SINTOMATIC,DROGA
0,0,,0,,0,,0,,,,,1,1,0,0,None,,,,
1,1,,0,,0,,0,,,,,0,0,0,0,None,,2,1,
2,2,,0,,0,,0,,,,,0,0,0,0,None,,,,
3,4,4,4,4,4,4,4,2,,,,0,0,0,0,None,3,,,
4,2,4,4,,0,,0,4,,4,,2,0,4,0,None,,,,
5,0,,0,,0,,0,2,,,,1,240,0,0,None,,2,1,
6,2,,0,,0,,0,,,,,0,0,0,0,None,,,,
7,2,,0,,0,,0,4,,4,,2,0,4,0,None,3,2,,
8,4,4,4,4,4,4,4,4,,4,,4,0,4,0,None,9,2,2,
9,0,,0,,0,,0,,,,,0,0,0,0,None,,,,
10,0,,0,1,1,1,1,,,,,0,0,0,0,None,,,,
11,0,,0,,0,,0,,,,,0,0,0,0,None,,,,
12,0,,0,,0,,0,,,,,0,0,0,0,None,,,,
13,0,,0,,0,,0,,,,,0,0,0,0,None,,2,9,
14,0,,0,,0,,0,,,,,0,0,0,0,None,,,,
15,0,,0,,0,,0,,,,,0,0,0,0,None,,,,
16,0,,0,,0,,0,,,,,0,0,0,0,None,,,,
17,0,,0,,0,,0,,,,,0,0,0,0,None,,,,
18,0,,0,,0,,0,,,,,0,0,0,0,None,,,,

In [11]:
df.iloc[:,80:100]

,TEMPO,CON_TRIAT,BIOSSEG,FISCALIZA,MED_OUTRO,OUTRO_DES,CLASSI_FIN,CRITERIO,EVOLUCAO,DT_OBITO,CON_PROVAV,CON_OUTRA,CON_LOCAL,TPAUTOCTO,COUFINF,COPAISINF,COMUNINF,DOENCA_TRA,DT_ENCERRA
0,NaN,,,,,,2,2,1,NaT,,,,,,0,,,2019-01-15
1,180.0,,,,,,2,1,1,NaT,,,,,,0,,,2018-06-20
2,NaN,,,,,,2,1,1,NaT,,,,,,0,,,2018-07-19
3,NaN,,,,,,2,1,1,NaT,,,,,,0,,,2019-01-23
4,NaN,,,,,,2,1,1,NaT,,,,,,0,,,2019-01-10
5,NaN,1,2,1,,,2,1,1,NaT,,,,,,0,,,2018-05-22
6,NaN,2,2,2,2,,2,1,1,NaT,,,,,,0,,,2018-11-01
7,NaN,,,,,,2,1,1,NaT,,,,,,0,,,2018-12-20
8,NaN,2,2,2,,,2,1,1,NaT,,,,,,0,,,2018-11-05
9,NaN,,,,,,8,,,NaT,,,,,,0,,,2018-11-14
10,NaN,,,,,,8,,,NaT,4,,9,3,,0,,2,2019-02-11
11,NaN,,,,,,8,,,NaT,,,,,,0,,,2018-09-26
12,NaN,,,,,,8,,,NaT,,,,,,0,,,2019-02-19
13,NaN,,,,,,8,,,NaT,,,,,,0,,9,2018-07-23
14,NaN,,,,,,8,,,NaT,,,,,,0,,,2019-01-09
15,NaN,,,,,,8,,,NaT,,,,,,0,,,2019-02-13
16,NaN,,,,,,8,,,NaT,,,,,,0,,,2018-11-07
17,NaN,,,,,,8,,,NaT,,,,,,0,,,2018-11-08
18,NaN,,,,,,8,,,NaT,,,,,,0,,,2018-11-07